fastapi
uvicorn
passlib[bcrypt]
python-jose[cryptography]
python-multipart
python-dotenv
email-validator
aiofiles
openpyxl
httpx
firebase-admin
pymysql
certifi
pytest
pytest-mock
cloudinary
pythainlp==5.3.7
Pillow
